.header-top{
    height: 70px;
}
header .header-icon{
    padding-left: 10px;
}
header .header-top-center input{
    width: 80%;
    height: 39.5px;
    padding-left: 10px;
    font-size: 1.5rem;
}
header .header-top-center i{
    border-top: 0.1px solid #ccc;
    border-right: 0.1px solid #ccc;
    border-bottom: 0.1px solid #ccc;
    padding: 9px;
}
header .header-top-right i{
   font-size: 1.8rem;
}
header .header-top-right i:hover{
   color: red;
   transform: scale(1.2);
}
.logo img{
    width: 250px;
}